body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1cc2ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1eb0d9;
}

.active {
  background-color: #0051ff;
}

p.ex1 {
  margin-left: 30px;
}
